---
import Layout from "../../layouts/Layout.astro";
import { SignUp } from "@clerk/astro/components";
---

<Layout title="Inscription">
  <div class="flex items-center justify-center min-h-[70vh]">
    <SignUp
      fallbackRedirectUrl="/"
      signInFallbackRedirectUrl="/"
      signInUrl="/sign-in"
    />
  </div>
</Layout>
